.about-section{
    padding-top: 40px;
    padding-bottom: 20px;
}
.about-section .showcase{
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: column;
    gap: 40px;
}
.about-section .showcase img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;

    height: 150px;
}
.about-section .statistic{
    padding-bottom: 20px;
    flex-direction: column;

}

/* Для экранов 640px и выше */
@media (min-width: 640px) {
    .about-section .statistic {
        flex-direction: row;
        padding-bottom: 33px;
    }
    .about-section .statistic > div {
        max-width: 170px;
    }
    .about-section .showcase img {
        height: 230px;
    }
    .about-section .showcase div > div {
        max-width: 320px;
    }
}

/* Для экранов 1200px и выше */
@media (min-width: 1200px) {
    .about-section .showcase{
        flex-direction: row;
        padding-top: 80px;
        gap: unset;
    }
    .about-section .showcase > div{
        width: 373px;
    }
    .about-section .showcase div > div{
        max-width: 100%;
    }
    .about-section .statistic{
        padding-bottom: 150px;
        margin-left: auto;
        width: 767px;
    }
    .about-section .statistic > div{
        max-width: 210px;
    }
}

/* Для экранов 1600px и выше */
@media (min-width: 1600px) {
    .about-section .showcase > div{
        width: 453px;
    }
    .about-section .statistic{
        padding-bottom: 100px;
        width: 927px;
    }
    .about-section .accent-text{
        margin-left: 353px;
    }
}