.faq{
    background-color: #F3F2EE;
    padding: 60px 0;
}

.faq h3{
    font-size: 20px;
}

.faq hr{
    background-color: #9E9F9A;
    margin-top: 60px;
}
.faq .toggle-question{
    margin-top: 30px;
    font-size: 20px;
}
.faq .toggle-question hr{
    margin-top: 30px;
}
.faq .toggle-question > .stretched-box{
    cursor: pointer;
}
.faq .answer{
    padding-top: 30px;
}

/* Для экранов 640px и выше */
@media (min-width: 640px) {
    .faq{
        padding: 80px 0;
    }
    .faq h3{
        font-size: 24px;
    }
    .faq .toggle-question{
        margin-top: 40px;
    }
    .faq .toggle-question hr{
        margin-top: 40px;
    }
    .faq .answer{
        padding-top: 40px;
    }
}
/* Для экранов 1200px и выше */
@media (min-width: 1200px) {
    .faq{
        padding: 100px 0;
    }
    .faq h3{
        font-size: 26px;
    }
    .faq hr{
        margin-top: 80px;
    }
    .faq .toggle-question{
        margin-top: 40px;
    }
    .faq .toggle-question hr{
        margin-top: 40px;
    }
    .faq .answer{
        max-width: 1050px;
    }
    .faq .toggle-question h3{
        max-width: 1045px;
    }
}
