footer{
    padding: 60px 0;
    background-color: #264C3D;
    background-size: cover;
    background-position: center;
}

footer img{
    width: 100%;
    object-fit: contain;
    pointer-events: none;
}

.footer-menu-text a,
.footer-menu-text button {
    font-family: "Montserrat", sans-serif;
    color: #FCFCFA;
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;
    display: block;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
}
.footer-menu-text a:hover,
.footer-menu-text button:hover {
    color: #F4CC18;
}
.footer-menu-text > .only-mobile > button {
    font-size: 10px;
}

footer .content-box{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.footer-menu{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-menu > div{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 244px;
}

/* Для экранов 640px и выше */
@media (min-width: 640px) {
    footer {
        padding-top: 80px;
        padding-bottom: 100px;
    }
    footer img {
        width: 433px;
        height: 164px;
    }
    footer .content-box {
        gap: 80px;
    }
    .footer-menu {
        flex-direction: row;
    }
}
/* Для экранов 1200px и выше */
@media (min-width: 1200px) {
    footer {
        padding-top: 100px;
    }

    footer .content-box{
        flex-direction: row;
        gap: 354px;
    }
    .footer-menu{
        padding-top: 47px;
        flex-direction: column;
    }
    footer > .footer-menu-text > .only-desktop{
        padding-top: 35px;
    }
}

/* Для экранов 1600px и выше */
@media (min-width: 1600px) {
    footer .content-box {
        gap: 514px;
    }
}
