.primary-button,
.secondary-button{
    background: none;
    border-radius: 500px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1;
}
.primary-button:hover,
.secondary-button:hover{
    color: #FCFCFA;
    background: #F4CC18;
    border-color: #F4CC18;
}

/** Primary **/
.primary-button{
    color: #F4CC18;
    border-color: #F4CC18;
}

.primary-button-large{
    padding: 18px 58px;
    font-size: 80px;
}
.primary-button-medium{
    padding: 18px 38px;
    font-size: 60px;
}
.primary-button-small{
    padding: 18px 38px;
    font-size: 40px;
}

/** Secondary **/
.secondary-button{
    color: #222226;
    border-color: #9E9F9A;
}

.secondary-button-large{
    width: 100%;
    padding: 36px 62px;
    font-size: 26px;
}
