/* Gogol */
.accent-text,
.accent-text2,
.accent-text3{
    font-family: Gogol, serif;
    line-height: 1;
    font-size: 30px;

}
.accent-text{
    color: #383D38;
}
.accent-text2{
    color: #FCFCFA;
    text-align: right;
}
.accent-text3{
    color: #383D38;
}

/* Montserrat */
.body-text,
.body-text2{
    font-family: "Montserrat", sans-serif;
    color: #75766E;
    line-height: 1;
    font-size: 18px; /* TODO body-text2 в шаблоне размером в 20 */
    font-weight: 500;
}

/* Для экранов 640px и выше */
@media (min-width: 640px) {
    .accent-text{
        font-size: 40px;
    }
    .accent-text2{
        font-size: 34px;
    }
}

/* Для экранов 1200px и выше */
@media (min-width: 1200px) { /* TODO А может от 1600?*/
    .accent-text{
        font-size: 50px;
        /*margin-left: 226px;*/
    }
    .accent-text2{
        font-size: 40px;
    }
}
