@font-face {
    font-family: "Gogol";
    src: local("Gogol Regular"),
    url("./fonts/Gogol Regular.ttf") format("truetype");
}

body {
    background-color: white;
    color: #383D38;
    font-family: 'Montserrat', sans-serif;
    margin: 0;

}


header {
    max-width: 1400px;
    margin: 0 auto;
    top: 0;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

header a:hover {
    color: #F4CC18;
}

header > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header > div > div {

    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

#coverSection {
    background-color: #121715;
    width: 100%;
    height: 900px;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

img {
    pointer-events: none;
}

.GogolText {
    font-family: Gogol, serif;
}

h1 {
    font-size: 80px;
    font-weight: 600;
}

h2 {
    font-family: Gogol, serif;
    font-size: 50px;
    font-weight: 500;

}

.screenshotsBlock p {
    max-width: 320px;
    color: #75766E;
    font-size: 18px;
    font-weight: 500;
}

.screenshotsBlock h4 {
    max-width: 320px;
    font-size: 20px;
    font-weight: 500;
}

.statisticBlock p {
    color: #75766E;
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
}

.NumberAnimation {
    color: #D44C02;
    font-size: 130px;
    font-family: Gogol, serif;
    line-height: 1;
}

.factSection {
    background-color: #FFDE51;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 100%;
    height: 280px;
}

.factSection h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

.factSection p {
    font-size: 18px;
}

#shockImage {
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    height: 600px;
}

.shockSection p {
    color: #75766E;
    font-size: 18px;
}

#Authors {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

#Authors h2 {
    font-size: 30px;
    width: 880px;
    margin-left: auto;
    line-height: 1;
}

#Authors > div {
    width: 1145px;
    margin-left: auto;
}

.StretchedList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Author {
    height: 280px;
    align-items: center;
}

.Author img {
    height: 100%;
}

.Author > div {
    width: 652px;
    font-size: 20px;
    line-height: 1;
}

.Author p {
    margin-top: 6px;
    margin-bottom: 40px;
}

.Author h3 {
    margin: 0;
}


.AuthorsBlock {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 80px;
    margin-bottom: 100px;
}

#Authors a {
    color: #75766E;
    text-decoration: none;
    font-size: 40px;
    font-weight: 500;
}


#Authors a:hover {
    color: #383D38;
    text-decoration: underline;
}

#Authors .NumberAnimation {
    color: #383D38;
    font-size: 130px;
    display: inline;
    line-height: 0;
}

#FAQ {
    background-color: #F3F2EE;
}

.ToggleQuestion p {
    color: #75766E;
    font-size: 20px;
}

footer {
    background-color: #1A382B;
    width: 100%;
    height: 494px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}


.primaryButton {
    background: none;
    border: none;
    color: #F4CC18;
    cursor: pointer;
    padding: 0;
}

.primaryButton:hover {
    color: #E0BB15;
}

.secondaryButton {
    color: #222226;
    background: none;
    border-color: #222226;
    cursor: pointer;
    padding: 38px;
    border-radius: 50px;
    width: 100%;
}

.secondaryButton:hover {
    background-color: #FFDE51;
    border: none;
    padding: 40px;
}

.footerButton {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
}

.footerButton:hover {
    color: #F4CC18;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #383D387F;
    z-index: 1000;
    overflow-y: auto;

}

.modal-content {
    background: white;
    border-radius: 20px;
    max-width: 800px;
    padding: 40px 60px 60px;
    margin: 63px auto;
}

.close-button {
    background: none;
    border: none;
    display: block;
    margin-left: auto;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.modal-content h1 {
    text-align: center;
    font-size: 40px;
    color: #383D38;
}


.paymentVariant {
    display: flex;
    width: 100%;
    align-items: flex-start;
    cursor: pointer;
}

.paymentVariant p {
    max-width: 500px;
    color: #9E9F9A;
    font-size: 14px;

}

.paymentVariant .radioButton {
    margin-right: 10px;
}

.paymentVariant label {
    color: #383D38;
    font-size: 14px;
    font-weight: 500;
}

.formInputText {
    border: none;
    border-bottom: 1px solid #9E9F9A;
}

.formInputText:focus-visible {
    border: none;
    border-bottom: 1px solid #9E9F9A;
    outline: none;
}

.formInputs {
    margin-bottom: 80px;
}

.formInputs h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

.formInputs h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 14px;
    margin-top: 70px;
}

.formInputs .radioButton {
    margin: 10px 10px 10px 40px;
}

.formInputs a {
    color: #383D38;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.formInputs a:hover {
    text-decoration: underline;
}


.formInputs label {
    color: #9E9F9A;
    font-size: 14px;
    font-weight: 500;
}

.formTextInputs label {
    display: block;
    margin-bottom: 28px;

}

.formTextInputs input {
    width: 100%;
    margin-bottom: 20px;

}

.consultationParameters {
    margin-top: 80px;
}

.consultationParameters div {
    display: inline-flex;
    align-items: center;
}

.tertiaryButton {
    display: block;
    color: white;
    background-color: #383D38;
    border: none;
    cursor: pointer;
    padding: 13px;
    border-radius: 50px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 600;
}

.tertiaryButton:hover {
    color: #383D38;
    background-color: #FFDE51;
}

.code-input-container {
    display: flex;
    gap: 10px;
}

.code-input {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #F3F2EE;
    color: #383D38;
    text-align: center;
    font-size: 12px;
    border-radius: 10px;
    padding: 8px;
}

.loginModal h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 60px;
    margin-top: 20px;
    color: #75766E;
    max-width: 350px;
    text-align: center;
}

.loginModal img {
    width: 400px;
}

.loginModal label {
    color: #9E9F9A;
    font-size: 12px;
    font-weight: 500;
    margin-top: 60px;
}

.loginModal input[type="tel"] {
    margin-bottom: 40px;
}

.loginModal a {
    color: #383D38;
    text-decoration: none;
}

.loginModal a:hover {
    text-decoration: underline;
}

.loginModal .code-input-container {
    margin-bottom: 30px;
}

.loginModal .tertiaryButton {
    margin-bottom: 40px;
}

#Policy h1 {
    color: #383D38;
    font-size: 26px;
    font-weight: 600;
    max-width: 545px;
    margin-bottom: 35px;
    text-align: left;
}

#Policy h2 {
    font-family: 'Montserrat', sans-serif;
    color: #75766E;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 25px;
    margin-top: 25px;
}

#Policy p {
    font-family: 'Montserrat', sans-serif;
    color: #75766E;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

#Policy .tertiaryButton {
    margin-top: 73px;
}

.errorInput label {
    color: #DC1C07;
}

.errorInput input {
    border-bottom: 1px solid #DC1C07;
}

.errorInput .code-input {
    background-color: #DC1C07;
}