@font-face {
    font-family: "Gogol";   /*Can be any text*/
    src: local("Gogol Regular"),
    url("./fonts/Gogol Regular.ttf") format("truetype");
}

body {
    /*background-color: white;*/
    background-color: white;
    color: #383D38;
    font-family: 'Montserrat', sans-serif;

}


header {
    max-width: 1400px;
    margin: 0 auto;
    /*position: fixed;*/
    top: 0;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    width: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
}



header a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

header > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


header > div > div {

    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

#coverSection{
    background-color: #121715;
    width: 100%;
    height: 900px;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

img{
    pointer-events: none;
}

.GogolText{
    font-family: Gogol, serif;
}

h1{
    font-size: 80px;
    font-weight: 600;
}

h2{
    font-family: Gogol, serif;
    font-size: 50px;
    font-weight: 500;

}

.screenshotsBlock p{
    max-width: 320px;
    color: #75766E;
    font-size: 18px;
    font-weight: 500;
}
.screenshotsBlock h4{
    max-width: 320px;
    font-size: 20px;
    font-weight: 500;
}

.statisticBlock p{
    color: #75766E;
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
}

.NumberAnimation{
    color: #D44C02;
    font-size: 130px;
    font-family: Gogol, serif;
    line-height: 1;
}

.factSection{
    background-color: #FFDE51;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 100%;
    height: 280px;
}

.factSection h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

.factSection p{
    font-size: 18px;
}

#shockImage{
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    height: 600px;
}

.shockSection p{
    color: #75766E;
    font-size: 18px;
}

#Authors{
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

#Authors h2{
    font-size: 30px;
    width: 880px;
    margin-left: auto;
    line-height: 1;
}

#Authors > div{
    width: 1145px;
    margin-left: auto;
}

.StretchedList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Author{
    height: 280px;
    align-items: center;
}

.Author img{
    height: 100%;
}

.Author > div{
    width: 652px;
    font-size: 20px;
    line-height: 1;
}

.Author p{
    margin-top: 6px;
    margin-bottom: 40px;
}

.Author h3{
    margin: 0;
}



.AuthorsBlock{
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 80px;
    margin-bottom: 100px;
}

#Authors a{
    color: #75766E;
    text-decoration: none;
    font-size: 40px;
    font-weight: 500;
}


#Authors a:hover {
    color: #383D38;
    text-decoration: underline;
}

#Authors .NumberAnimation{
    color: #383D38;
    font-size: 130px;
    display: inline;
    line-height: 0;
}

#FAQ{
    background-color: #F3F2EE;
}

.ToggleQuestion p{
    color: #75766E;
    font-size: 20px;
}

footer{
    background-color: #1A382B;
    width: 100%;
    height: 494px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
}

footer a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

footer button{
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
}